# customtkinter - deprecated
pyngrok~=7.2.3
requests~=2.32.3
portablemc~=4.4.1
pywebview~=5.4
wmi~=1.5.1
psutil~=6.1.1
humanize~=4.11.0
gputil~=1.4.0
lib-platform
customtkinter~=5.2.2
schedule~=1.2.2
nicegui~=2.11.0
pillow~=11.1.0